/* ✅ First! */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities for animations */
@layer utilities {
  .animation-delay-1000 {
    animation-delay: 1s;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .shadow-3xl {
    box-shadow: 0 35px 60px -12px rgba(0, 0, 0, 0.25);
  }

  .shadow-4xl {
    box-shadow: 0 50px 80px -20px rgba(0, 0, 0, 0.3);
  }
}



.scale-down {
  transform: scale(0.5);
}

:root {
  /* Light Theme (Default) */
  --theme-bg: #ffffff;
  --theme-text: #000000;
  --theme-primary: #F3E8FF;
  --theme-secondary: #ffffff;
  --theme-accent: #9333ea;
  --theme-cardText:#ffffff;
  --theme-card: #3B0764;
  --theme-border: #e2e8f0;
}

[data-theme="dark"] {
  /* Dark Theme */
 --theme-bg: #3B0764;
  --theme-text: #ffffff;
  --theme-cardText:#000000;
  --theme-primary: #3B0764;
  --theme-secondary: #3B0764;
  --theme-accent: #c084fc;
  --theme-card: #ffffff;
  --theme-border: #4c1d95;
}

/* Smooth transitions for theme changes */
* {
  transition-property: color, background-color, border-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}